html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Museo Sans Cyrl";
  font-size: 20px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1006px) {
  body {
    font-size: 1.83vw;
  }
}

header,
main {
  max-width: 1200px;
  width: 100%;
}

header .header-banner {
  margin-top: 2em;
  border-radius: 2em;
  background: #93bbea;
  position: relative;
  width: 100%;
  padding: 2em 0 2.7em 0;
  overflow: hidden;
}


header .header-banner h1,
header .header-banner p {
  color: #ffffff;
  text-align: center;
}

header .header-banner h1,
header .header-banner p,
header .header-banner ul {
  margin-left: auto;
  margin-right: auto;
}

header .header-banner h1,
header .header-banner p {
  max-width: 45%;
}

header .header-banner ul {
  color: #1a1a1a;
  width: 55%;
}
header .header-banner h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
}

header .header-banner p {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.4;
}

header .header-banner:before {
  content: "";
  position: absolute;
  background: url("/testLP_support/assets/images/header_1.png") 50% / contain no-repeat;
  width: 13.75em;
  left: 0;
  top: -0.5em;
  height: 100%;
  display: block;
}

header .header-banner:after {
  content: "";
  position: absolute;
  background: url("/testLP_support/assets/images/header_2.png") 50% / contain no-repeat;
  width: 13.75em;
  right: 0;
  bottom: -2.15em;
  height: 100%;
  display: block;
}

@media all and (max-width: 1100px) {
  header .header-banner:before {

  }
  header .header-banner:after {
    bottom: -5.3em;
  }
  header .header-banner:before, header .header-banner:after {
    width: 20vw;
  }

}

header .header-banner nav ul {
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
}
header .header-banner nav ul li {
  border-radius: 0.6em;
  background: #fff;
  padding: 0.75em 0;
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.75em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: calc(25% - 0.8em);
  cursor: pointer;
}


@media all and (max-width: 961px) {
  header .header-banner nav ul li {
    width: calc(50% - .8em);
  }
}




header .header-banner nav ul li img {
  max-width: 1.067em;
  height: 1.067em;
}

main .social_section {
  margin-top: 2.1em;
}

main .social_section .social .social__col1 .social_txt_sm {
  color: #1a1a1a;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.2;
}

main .social_section .social {
  display: flex;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
  border-radius: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.1em 2em;
  align-items: center;
}

main .social_section .social .social__col1,
main .social_section .social .social__col2 {
  flex: 1 0 50%;
}

main .social_section .social .social__col1 h3 {
  color: #1a1a1a;
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

main .social_section .social .social__col2 ul {
  display: flex;
  gap: 0.7em;

}



main .social_section .social .social__col2 ul li {
  list-style-type: none;
  cursor: pointer;

}



main .social_section .social .social__col2 ul li img {
  max-width: 2.8em;
}


main
.faq-slider_section {
  margin-top: 4em;

}
main .faq-slider_section .faq {
  margin-top: 1.5em;
}
main .faq-slider_section h2, main .faq-accordion_section h2 {
  color: #1A1A1A;

  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}



main .faq-slider_section .faq .faq-slider .faq-slides-wrapper .swiper-slide {
  border-radius: 0.8em;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

main
  .faq-slider_section
  .faq
  .faq-slider
  .faq-slides-wrapper
  .swiper-slide
  .faq__card {
  display: flex;
  padding: 0.8em;
  min-height: 8em;
}

main
  .faq-slider_section
  .faq
  .faq-slider
  .faq-slides-wrapper
  .swiper-slide
  .faq__card
  .faq__poster
  img {
  max-width: 5.2em;
  align-self: center;
}

main
  .faq-slider_section
  .faq
  .faq-slider
  .faq-slides-wrapper
  .swiper-slide
  .faq__card
  .faq__text
  h4 {
  color: #1a1a1a;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

main
  .faq-slider_section
  .faq
  .faq-slider
  .faq-slides-wrapper
  .swiper-slide
  .faq__card
  .faq__text
  p {
  color: #949494;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.4;
}

main .faq-slider_section .faq .faq-swiper-button-prev,
main .faq-slider_section .faq .faq-swiper-button-next {
  border-radius: 2.2em;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  width: 2.2em;
  height: 2.2em;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

main .faq-slider_section .faq .faq-swiper-button-prev:after,
main .faq-slider_section .faq .faq-swiper-button-next:after {
  color: #000000!important;
  font-size: .6em!important;
  font-weight: 900!important;
  transition: color .3s ease-in-out;
}



main .faq-accordion_section {
margin-top: 4em;
margin-bottom: 4em;
}

.e-accordion {
  --e-accordion-time: 0.3s;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.e-accordion__title {
   color: #1A1A1A;
 }

.e-accordion__title h5 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
 }

.e-accordion__title p {
  color: #949494;
  font-size: .65em;
  font-weight: 400;
  line-height: 1.4;
}

.e-accordion {
  border-radius: .8em;
  background: #FFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 1em 1.2em;
}

.e-accordion__control {
  width: 100%;
  cursor: pointer;
  border-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;



}
.e-accordion {
  margin-top: .6em;
}
.e-accordion-1 {
  margin-top: 1.6em;
}

.e-accordion__control:focus {
  outline: none;
}

.e-accordion__content {
  display: none;
  padding-bottom: .4em;
  will-change: height;
}

.e-accordion__content p {
  font-size: .8em;
  line-height: 1.1;
  color: #1A1A1A;
}

.e-accordion__title {
  font-weight: 400;
  font-size: 1.25em;

}

.e-accordion__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  user-select: none;
  background-position: 50% 52%;
  background-repeat: no-repeat;
}
.e-accordion__icon img{
  max-width: 24px;
}


.e-accordion__icon:hover {
   cursor: pointer;
 }

.vertical-line {
  transition: all 500ms;
  transform: scaleY(1);
  transform-origin: 50% 50%;
}

.e-accordion__icon img {
  transition: transform .3s ease-in-out;
}

.is-open .e-accordion__icon img {
  transform: rotate(90deg);
}



.links__list {
  display: flex;
  flex-direction: column;
}

.e-accordion__content a {
  text-decoration: underline;
}

.e-accordion__content p {
  color: #000;
  font-weight: 300;
}

.e-accordion__content p span {
  font-weight: 900;
}

